<div class="header">
  <img src="assets/images/fidLogo.png" alt="fid Logo">
</div>
<div class="main-container">
  <div>
    <h2 style="text-align: center">Compounding celebrities</h2>
  </div>
  <div class="intro-text">
      It's hard to see the power of compounding your cash without looking a bit into the future!  Click on a celebrity to see how much they could make through compounding if they started investing their net worth in 2019.
  </div>
  <div class="cards-container" *ngIf="SelectedCeleb==null">
    <div class="celeb-card" *ngFor="let celeb of celebs" (click)="setSelectedCeleb(celeb)">
      <div class="card-img-container"> 
        <img [src]="celeb.urlPic" alt="celeb.name">
      </div> 
      <div class="card-text">
        {{celeb.name}}
      </div>
      <div class="net-worth-text">
        Net worth: {{celeb.money | currency}}
      </div>
    </div>
  </div>

  <div *ngIf="SelectedCeleb!=null" class="compound-section">
    <div>
      how many years would you invest for?
    </div>
    <div class="question-Container">
    <input type="text" #inputYears>
    <button value="yes" (click)="buttonEvent(inputYears.value)">submit</button>
    </div>
    <div *ngIf="years!=null">
      <div>
          how Risky is your investment?
      </div>
      <div class="question-Container">
        <select [(ngModel)]="risk" (change)="onChange()">
          <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="risk!=null&&result!=null"class="results">
      If {{SelectedCeleb.name}} invested their {{SelectedCeleb.money | currency}} for {{years}} years they would make  {{result | currency}}
      <button class="back-button" (click)="clearSelections()">
          Back To celebrities
        </button>
    </div>
    <div>
      
    </div>
    <img [src]="SelectedCeleb.urlPic" [alt]="SelectedCeleb.name">


  </div>