<div class="header">
  <img src="https://www.fidelity.ca/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1492451162433&ssbinary=true" alt="fid Logo">
</div>
<div class="main-container">
  <div>
    <h3 style="text-align: center">HOW MUCH WOULD THEY MAKE IF THEY SAVED THEN</h3>
  </div>
  <div class="intro-text">
      In this day and age People don't understand the power of compounding and how much just a couple years of investing your money, can make you a boat load of it. Click on a celebrity to see how much they can make if they invest their money now.
  </div>
  <div class="cards-container" *ngIf="SelectedCeleb==null">
    <div class="celeb-card" *ngFor="let celeb of celebs" (click)="setSelectedCeleb(celeb)">
      <div class="card-img-container"> 
        <img [src]="celeb.urlPic" alt="celeb.name">
      </div> 
      <div class="card-text">
        {{celeb.name}}
      </div>
      <div class="net-worth-text">
        Net worth: {{celeb.money | currency}}
      </div>
    </div>
  </div>

  <div *ngIf="SelectedCeleb!=null" class="compound-section">
    <div>
      how many years would you invest for?
    </div>
    <div class="question-Container">
    <input type="text" #inputYears>
    <button value="yes" (click)="buttonEvent(inputYears.value)">submit</button>
    </div>
    <div *ngIf="years!=null">
      <div>
          how Risky is your investment?
      </div>
      <div class="question-Container">
        <select [(ngModel)]="risk" (change)="onChange()">
          <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="risk!=null&&result!=null"class="results">
      If {{SelectedCeleb.name}} invested their {{SelectedCeleb.money | currency}} for {{years}} years they would have made {{result | currency}}
      <button class="back-button" (click)="clearSelections()">
          Back To celebrities
        </button>
    </div>
    <div>
      
    </div>
    <img [src]="SelectedCeleb.urlPic" [alt]="SelectedCeleb.name">


  </div>