.main-content{
    padding: 22px;
    

    .main-header{
        font-size: 52px;
        text-align: center;
    }

    .user-form{
        padding: 20px;
        .user-header{
            padding-bottom: 18px;
        }
        input{
            width: 120px;
        }
    }

}